* {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body {
  magrin: 0px;
  padding: 0px;
}
.three-quarter {
  flex: calc(100% - 25%);
  flex: -webkit-calc(100% - 25%); /*Chrome and Safari*/
  flex: -moz-calc(100% - 25%); /*Internet Explorer*/
}
.half {
  flex: calc(100% / 2%);
  flex: -webkit-calc(100% / 2%);
  flex: -moz-calc(100% / 2%);
}
.quarter {
  flex: calc(100% - 75%);
  flex: -webkit-calc(100% - 75%);
  flex: -moz-calc(100% - 75%);
}
.third {
  flex: calc(100% / 3%);
  flex: -webkit-calc(100% / 3%);
  flex: -moz-calc(100% / 3%);
}
.twothird {
  flex: calc(100% / 3% + 100% / 3%);
  flex: -webkit-calc(100% / 3% + 100% / 3%);
  flex: -moz-calc(100% / 3% + 100% / 3%);
}
a.showlink:after {
  content: " (" attr(href) ")";
}
abbr:after /*, acronym:after */ {
  content: "(" attr(title) ")";
}
.container {
  margin: 0px 16px;
}
.panel {
  margin: 16px;
}
